# DSC530-T302
# Week 1-2 Assignment
# Jacob Siau

## Chapter 3 Exercises

### Exercise 1.
We want to look at data for the Facebook, Apple, Amazon, Netflix, and Google (FAANG) stocks, but we were given each as a separate CSV file (obtained using the stock_analysis package we will build in Chapter 7, Financial Analysis – Bitcoin and the Stock Market). 
Combine them into a single file and store the dataframe of the FAANG data as faang for the rest of the exercises:
Read in the aapl.csv, amzn.csv, fb.csv, goog.csv, and nflx.csv files.
Add a column to each dataframe, called ticker, indicating the ticker symbol it is for (Apple's is AAPL, for example); this is how you look up a stock. In this case, the filenames happen to be the ticker symbols.
Append them together into a single dataframe.
Save the result in a CSV file called faang.csv

In [117]:
# imports
import pandas as pd

In [118]:
# read in the data from the csv files
aapl = pd.read_csv('AAPL.csv')
goog = pd.read_csv('GOOG.csv')
amzn = pd.read_csv('AMZN.csv')
nflx = pd.read_csv('NFLX.csv')
fb = pd.read_csv('FB.csv')

# add a column to each df
aapl['ticker'] = 'AAPL'
goog['ticker'] = 'GOOG'
amzn['ticker'] = 'AMZN'
nflx['ticker'] = 'NFLX'
fb['ticker'] = 'FB'

# concatenate the dataframes into a single dataframe
stocks = pd.concat([aapl, goog, amzn, nflx, fb], ignore_index=True)

# save the combined dataframe to a new csv file
stocks.to_csv('faang.csv', index=False)

### Exercise 2.

With faang, use type conversion to cast the values of the date column into datetimes and the volume column into integers. Then, sort by date and ticker.

In [119]:
# cast the values of the date column into datetimes and the volume column into integers
faang_df = pd.read_csv('faang.csv')
faang_df['date'] = pd.to_datetime(faang_df['date'])
faang_df['volume'] = faang_df['volume'].astype(int)

# sort by date and ticket
faang_df = faang_df.sort_values(by=['date', 'ticker'])
# show the sorting worked
faang_df.head(10)

,date,high,low,open,close,volume,ticker
0,2018-01-02,43.075001,42.314999,42.540001,43.064999,102223600,AAPL
502,2018-01-02,1190.000000,1170.510010,1172.000000,1189.010010,2694500,AMZN
1004,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900,FB
251,2018-01-02,1066.939941,1045.229980,1048.339966,1065.000000,1237600,GOOG
753,2018-01-02,201.649994,195.419998,196.100006,201.070007,10966900,NFLX
1,2018-01-03,43.637501,42.990002,43.132500,43.057499,118071600,AAPL
503,2018-01-03,1205.489990,1188.300049,1188.300049,1204.199951,3108800,AMZN
1005,2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600,FB
252,2018-01-03,1086.290039,1063.209961,1064.310059,1082.479980,1430200,GOOG
754,2018-01-03,206.210007,201.500000,202.050003,205.050003,8591400,NFLX

### Exercise 3.
Find the seven rows in faang with the lowest value for volume.

In [120]:
# find the seven rows in faang with the lowest value for volume
faang_df.nsmallest(7, 'volume')

,date,high,low,open,close,volume,ticker
377,2018-07-03,1135.819946,1100.020020,1135.819946,1102.890015,679000,GOOG
477,2018-11-23,1037.589966,1022.398987,1030.000000,1023.880005,691500,GOOG
350,2018-05-24,1080.469971,1066.150024,1079.000000,1079.239990,766800,GOOG
381,2018-07-10,1159.589966,1149.589966,1156.979980,1152.839966,798400,GOOG
403,2018-08-09,1255.541992,1246.010010,1249.900024,1249.099976,848600,GOOG
410,2018-08-20,1211.000000,1194.625977,1205.020020,1207.770020,870800,GOOG
412,2018-08-22,1211.839966,1199.000000,1200.000000,1207.329956,887400,GOOG

### Exercise 4.
Right now, the data is somewhere between long and wide format. Use melt() to make it completely long format. Hint: date and ticker are our ID variables (they uniquely identify each row). We need to melt the rest so that we don't have separate columns for open, high, low, close, and volume.

In [121]:
# Right now, the data is somewhere between long and wide format. 
# Use melt() to make it completely long format. 
# Hint: date and ticker are our ID variables (they uniquely identify each row). 
# We need to melt the rest so that we don't have separate columns for open, high, low, close, and volume.

# convert to long format using melt()
faang_df_long = pd.melt(
    faang_df, 
    id_vars=['date', 'ticker'], 
    value_vars=['open', 'high', 'low', 'close', 'volume'], 
    var_name='variable', 
    value_name='value'
)

# show the first few rows of the long format dataframe
faang_df_long.head(10)

        date ticker variable        value
0 2018-01-02   AAPL     open    42.540001
1 2018-01-02   AMZN     open  1172.000000
2 2018-01-02     FB     open   177.679993
3 2018-01-02   GOOG     open  1048.339966
4 2018-01-02   NFLX     open   196.100006
5 2018-01-03   AAPL     open    43.132500
6 2018-01-03   AMZN     open  1188.300049
7 2018-01-03     FB     open   181.880005
8 2018-01-03   GOOG     open  1064.310059
9 2018-01-03   NFLX     open   202.050003

### Exercise 5.
Suppose we found out that on July 26, 2018 there was a glitch in how the data was recorded. How should we handle this? Note that there is no coding required for this exercise.

#### My answer
We should remove the data for that date. The glitch means the data from that date is unreliable and it should be discarded. If needed, we can extrapolate through that date with linear regression; however, if permissible, we should simply remove that date. Any timeseries data analysis over a long enough period of time should not be impacted much by one missing date.

### Exercise 6.
The European Centre for Disease Prevention and Control (ECDC) provides an open dataset on COVID-19 cases called daily number of new reported cases of COVID-19 by country worldwide. This dataset is updated daily, but we will use a snapshot that contains data from January 1, 2020 through September 18, 2020. Clean and pivot the data so that it is in wide format:

Read in the covid19_cases.csv file.
Create a date column using the data in the dateRep column and the pd.to_datetime() function.
Set the date column as the index and sort the index.
Replace all occurrences of United_States_of_America and United_Kingdom with USA and UK, respectively. Hint: the replace() method can be run on the dataframe as a whole.
Using the countriesAndTerritories column, filter the cleaned COVID-19 cases data down to Argentina, Brazil, China, Colombia, India, Italy, Mexico, Peru, Russia, Spain, Turkey, the UK, and the USA.
Pivot the data so that the index contains the dates, the columns contain the country names, and the values are the case counts (the cases column). Be sure to fill in NaN values with 0.

In [122]:
# Read in the covid19_cases.csv file.
covid_df = pd.read_csv('covid19_cases.csv')

# Create a date column using the data in the dateRep column and the pd.to_datetime() function.
covid_df['date'] = pd.to_datetime(covid_df['dateRep'], format='%d/%m/%Y')

# Set the date column as the index and sort the index.
covid_df = covid_df.set_index('date').sort_index()

# Replace all occurrences of United_States_of_America and United_Kingdom with USA and UK, respectively. 
# Hint: the replace() method can be run on the dataframe as a whole.
covid_df = covid_df.replace({'United_States_of_America': 'USA', 'United_Kingdom': 'UK'})

# Using the countriesAndTerritories column, filter the cleaned COVID-19 cases data down to Argentina, Brazil, China, Colombia, India, Italy, Mexico, Peru, Russia, Spain, Turkey, the UK, and the USA.
countries = [
    'Argentina', 'Brazil', 'China', 'Colombia', 'India', 
    'Italy', 'Mexico', 'Peru', 'Russia', 'Spain', 
    'Turkey', 'UK', 'USA'
]
covid_filtered = covid_df[covid_df['countriesAndTerritories'].isin(countries)]

# Show the first few rows of the filtered dataframe
covid_filtered.head()

# Pivot the data so that the index contains the dates, the columns contain the country names, and the values are the case counts (the cases column). Be sure to fill in NaN values with 0.
covid_pivot = covid_filtered.pivot_table(
    index=covid_filtered.index, 
    columns='countriesAndTerritories', 
    values='cases', 
    fill_value=0
)

# Write the pivoted dataframe to a new CSV file named covid19_cases_cleaned.csv.
covid_pivot.to_csv('covid19_cases_cleaned.csv')

# Show the filtered dataframe
covid_pivot

countriesAndTerritories,Argentina,Brazil,China,Colombia,India,Italy,Mexico,Peru,Russia,Spain,Turkey,UK,USA
date,,,,,,,,,,,,,
2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-03,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-05,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-14,10778.0,14768.0,29.0,7355.0,92071.0,1456.0,4408.0,6787.0,5449.0,27404.0,1527.0,3330.0,33871.0
2020-09-15,9056.0,15155.0,22.0,5573.0,83809.0,1008.0,3335.0,4241.0,5509.0,9437.0,1716.0,2621.0,34841.0
2020-09-16,9908.0,36653.0,24.0,6698.0,90123.0,1229.0,4771.0,4160.0,5529.0,11193.0,1742.0,3103.0,51473.0
2020-09-17,11893.0,36820.0,7.0,7787.0,97894.0,1452.0,4444.0,6380.0,5670.0,11291.0,1771.0,3991.0,24598.0
2020-09-18,11674.0,36303.0,44.0,7568.0,96424.0,1583.0,3182.0,5698.0,5762.0,14389.0,1648.0,3395.0,43567.0